<!DOCTYPE html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<h1>News Classification</h1>    

<label for="news-search">Search news by url:</label>
<input type="search" id="news-search" name="q">

<button>Search</button>


<a href="../logout">Logout</a>


<label for="category">Choose category (ctrl + right click to select multiple options)</label>
<br>
<select id = 'category' multiple>
    <option value="business">Business</option>
    <option value="politics">Politics</option>
    <option value="entertainment">Entertainment</option>
    <option value="sport">Sport</option>
    <option value="tech">Tech</option>
</select>
<br>
<button onclick = "getValue()">Choose</button>

<style>
    a{
        margin-left:75%
    }
    input{
        margin: auto;
        display: block;
        width: 300px;
    }
</style>

