<!DOCTYPE html>
<html>
    <title>{% block title%}{% endblock %} </title>
    <head>
        <font size = 10>
            <p> Web-news Classification</p>
        </font>
        </head>
    <body>
        
        {% if messages%}
            {%for message in messages %}
                <div class = 'alert alert-{{ message.tags}}'></div>
                {{ message }}
            {% endfor %}
        {% endif%}
            <form action = '/home'>
                <button>Home</button>
                </form>
            <form action = 'business'>
                <button>Business</button>
                </form>
            <form action = 'politics'>
                <button>Politics</button>
            </form>
            <form action = 'entertainment'>
                <button>Entertainment</button>
            </form>
            <form action = 'sport'>
                <button>Sport</button>
            </form>
            <form action = 'tech'>
                <button>Technology</button>
            </form>
        
        {% block content %}{% endblock %}
        
    </body>
</html>

<style>
    p {
        text-align: center;
    }
</style>