<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../../styles.css">
</head>
<h1>News Classification</h1>    

<a href="../logout">Logout</a>
<label for="category">Choose category (ctrl + right click to select multiple options)</label>
<br>
<select id = 'category' multiple>
    <option value="business">Business</option>
    <option value="politics">Politics</option>
    <option value="entertainment">Entertainment</option>
    <option value="sport">Sport</option>
    <option value="tech">Tech</option>
</select>
<br>
<button onclick = "getValue()">Choose</button>
