<!-- Load styles from styles.css in the static folder-->
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<h1>News Classification</h1>

<h2 id = 'date'></h2>
<script>
    var date = new Date();
    var dd = date.getDate();
    var mm = date.getMonth() + 1;
    var yyyy = date.getFullYear();
    if(dd<10){
        dd = '0' + dd;
    }
    if (mm<10){
        mm='0'+mm;
    }
    document.getElementById('date').innerHTML = yyyy + '-' + mm + '-' + dd;
</script>
<!-- a search bar for news searching by urls-->
<label for="news-search">Search news by url:</label>
<input type="search" id="news-search" name="q">

<button>Search</button>

<!-- button to redirect user to logout page and logout their account-->
<a style = 'margin-left:75%' href="../logout">Logout</a>

<!-- a drop down list contain category-->
<label for="category">Choose category</label>
<br>
<select id = 'category' onchange="update()">
    <option>--</option>
    {% for c in categories %}
    <option>{{c.categoryname}}</option>
    {% endfor %}
</select>
<br>
<p id = 're'></p>
<script>
    function update(){
        var selected = document.getElementById('category');
        selected = selected.options[selected.selectedIndex].text;
        var trs = document.querySelectorAll('tr');
            for(var i = 1; i < trs.length; i++){
                var td = trs[i].querySelectorAll("td")[1];
                if (td.innerHTML === selected){
                    trs[i].style.display = "table-row";
                }
                else{
                    trs[i].style.display = "none";
                }
            }
    }
    function check(){
        return 'yes';
    }
</script>
<table id = 'news_table'>
    <tr>
        <th>Title</th>
        <th>Category</th>
    </tr>
        {% for news in newsarticles %}
        <tr id = '{{news.date}}'>
        <td>{{news.title}}
            <br>
            <a style = 'text-align:center' href={{news.url}} target="_blank">To the news</a>
        </td>
        <td>{{news.categoryid}}</td>
        </tr>
        {%endfor%}
</table>

<style>
    input{
        margin: auto;
        display: block;
        width: 300px;
    }
    table{
        border:1px solid black;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    th,td{
        border:1px solid black;
        text-align:center;
    }
</style>

