h1{
    text-align: center;
    font-size: 72px;
    background-color: #BADFE7;
}
label{
    display: block;
    text-align:center;
    font-size:24px;
    color: #333;
}
select{
    display:block;
    margin: 0 auto;
    width: 200px;
    font-size: 18px;
}
button{
    display:block;
    margin: 0 auto;
}
a{
    display: block;
    text-align:center;
    width: 100px;
    margin-left:47.5%
}
form{
    display: block;
    text-align:center;
    font-size:24px;
}
h2 {
    font-size:48px;
    text-align: center;
}

h3{
    text-align: center;
}

body {  
    background-color: #d9ecf1
    }
