{% if request.user.is_authenticated %}
    <meta http-equiv="refresh" content="0; 'home'"></meta>
{% endif %}

<h1>Web News Classification<h1>
    <form method = "POST">
        {% csrf_token %}
        <fieldset class = 'form-group'>
            {{form}}
        </fieldset>
            <button type = 'submit'>Login</button>
    </form>
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="register">Register</a>
        </small>

<style>
h1{
    text-align: center;
    font-size: 72px;
    }
form{
    display: block;
    text-align:center;
    font-size:24px;
}
small{
    text-align: center;
    font-size: 16px;
}
</style>