<title>Register</title>

<h1>Registration</h1>
    <form method = "POST">
        {% csrf_token %}
        <fieldset class = 'form-group'>
            <legend class = 'boarder-bottom mb-4 '>Join Today</legend>
            {{form}}
        </fieldset>
            <button type = 'submit'>Sign Up</button>
    </form>
<small class="text-muted">
    Already Have An Account? <a class="ml-2" href="/">Login</a>
</small>

<style>
    h1{
        text-align: center;
        font-size: 72px;
    }
    form{
        display: block;
        font-size:18px;
    }
</style>
